body{
    width: 100%;
    height: 100%;
    background-color: orange;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Baloo Tammudu 2', cursive;
    font-size: 40px;
    text-align: center;
}
@media (max-width: 900px) and (min-width: 600px){
    h1{
        font-size: 32px;
    }
    body{
        background-color: orchid;
    }
}
@media (max-width: 600px){
    h1{
        font-size: 24px;
    }
    body{
        background-color: pink;
    }
}

header{
    width: 100%;
    background-color: royalblue;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.nav{
    display: flex;
    list-style: none;
    color: white;

}


.link{
    text-decoration: none;
    font-family: 'Baloo Tammudu 2', cursive;
    font-size: 20px;
    margin: 20px;
    display: flex;
}

i.fas.fa-bars{
    display: none;
}

@media (max-width: 520px){
    .link{
        display: none;
    }
    i.fas.fa-bars{
        display: flex;
        margin: 20px;
    }
}